
//文字大小
.fz-16{
    font-size: 16px !important;
}

//定位
.position-sticky{
    position:sticky;
    top: 0;
    left: 0;
}

//權重
.z-index-40{
    z-index: 40 !important;
}

//垂直對齊
.vertical-align-bottom{
    vertical-align: bottom !important;
}