
//文字大小
.fz-14{
    font-size: 14px !important;
}
.fz-16{
    font-size: 16px !important;
}
.fz-20{
    font-size: 20px !important;
}
.fz-28{
    font-size: 28px !important;
}
.fz-30{
    font-size: 30px !important;
}
.fz-32{
    font-size: 32px !important;
}
.fz-40{
    font-size: 40px !important;
}
//定位
.position-sticky{
    position:sticky;
    top: 0;
    left: 0;
}

//權重
.z-index-40{
    z-index: 40 !important;
}
.z-index-39{
    z-index: 39 !important;
}

//垂直對齊
.vertical-align-bottom{
    vertical-align: bottom !important;
}

//方向-右
.right-0{
    right:0;
}
.right-1{
    right:1%;
}
.right-2{
    right:2%;
}
.right-5{
    right:5%;
}
.right-6{
    right:6%;
}
//方向-下
.bottom-0{
    bottom:0;
}
.bottom-5{
    bottom:5%;
}
.bottom-6{
    bottom:6%;
}

//圖片填滿

.background-img-cover{
    background-size: cover !important;
}