
//文字大小
.fz-14{
    font-size: 14px !important;
}
.fz-16{
    font-size: 16px !important;
}
.fz-20{
    font-size: 20px !important;
}
.fz-28{
    font-size: 28px !important;
}
.fz-40{
    font-size: 40px !important;
}
//定位
.position-sticky{
    position:sticky;
    top: 0;
    left: 0;
}

//權重
.z-index-40{
    z-index: 40 !important;
}

//垂直對齊
.vertical-align-bottom{
    vertical-align: bottom !important;
}