

.logo{
    display: inline-block;
    background-image: url(../images/logo.svg);
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap ;
    vertical-align: middle;
    width: 121px;
    height: 55px;
 }

 .ham-btn{
    position: absolute;
    right: 20px;
    ::after{
        clear: both;
    }
 }